/* &display=swap&subset=cyrillic-ext */

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
	font-size: 16px; /* по умолчанию */
}
body {
	line-height: 1;
}
.wrapper {
	overflow: hidden;
	min-height: 100%;
	background-color: rgb(19, 95, 32);
}
/* ------------------------------ */

.block {
	background-color: rgb(114, 108, 20);
	color: rgb(255, 255, 255);
	font-size: 30px;
	padding: 0px 100px 0px 100px;
	margin: 0px auto 0px auto;
	max-width: 1000px;
	min-width: 500px;
}
.block2 {
	background-color: rgb(23, 19, 238);
	color: rgb(255, 81, 81);
	font-size: 30px;
	margin: -70px 0px 0px auto;
	width: 500px;
	height: 300px;
	overflow: auto;
	padding: 30px;
}
.block3 {
	background-color: rgb(114, 80, 209);
	color: rgb(140, 148, 65);
	font-size: 30px;
	margin: -300px 0px 30px 0px;
	width: 500px;
	height: 300px;
	overflow: hidden;
}
.block4 {
	background-color: rgb(255, 74, 74);
	color: rgb(0, 0, 0);
	font-size: 30px;
	width: 500px;
	margin: -200px auto 300px auto;
	max-height: 200px;
}
.block5 {
	background-color: rgb(240, 76, 0);
	color: rgb(243, 243, 243);
	font-size: 30px;
	padding: 20px 50px 30px 50px;
	margin: 0px 0px 30px 0px;
	max-width: 50%;
	min-width: 200px;
	overflow: scroll;
	max-height: 200px;
}
.block6 {
	background-color: rgb(148, 240, 0);
	color: rgb(255, 94, 94);
	font-size: 30px;
	padding: 20px;
	margin: 0px 600px 30px 0px;
	max-width: 1200px;
	min-width: 1200px;
	max-height: 100px;
}

.img1 {
	min-width: 100%;
	max-height: 200px;
	margin: 0px 0px 30px 0px;
}

.p1 {
	font-size: 30px;
	color: rgb(114, 223, 178);
	background-color: rgb(84, 104, 59);
	display: inline;
}
.p2 {
	font-size: 30px;
	color: rgb(114, 223, 178);
	background-color: rgb(84, 104, 59);
	display: inline;
}
.p3 {
	font-size: 30px;
	color: rgb(114, 223, 178);
	background-color: rgb(84, 104, 59);
	display: inline;
}
.p4 {
	font-size: 30px;
	color: rgb(114, 223, 178);
	background-color: rgb(84, 104, 59);
	display: inline;
}

.link {
	font-size: 30px;
	width: 90px;
}
.link1 {
	background-color: rgb(255, 84, 84);
	display: inline-block;
	color: rgb(255, 255, 255);
	margin: 0px 0px 10px 0px;
}
.link2 {
	background-color: rgb(255, 84, 84);
	display: inline-block;
	color: rgb(0, 0, 0);
	margin: 0px 0px 10px 0px;
}
.link3 {
	background-color: rgb(255, 84, 84);
	display: inline-block;
	color: rgb(114, 223, 178);
	margin: 0px 0px 30px 0px;
}

.span span {
	margin: 0px 0px 20px 0px;
	font-size: 25px;
	background-color: rgb(255, 0, 0);
	color: rgb(255, 255, 255);
	display: block;
	width: 400px;
}

.img {
	background-color: rgb(231, 69, 69);
	display: block;
	margin: 0px auto 50px auto;
	padding: 30px;
	width: 500px;
	text-align: center;
}

/* Доп задание */
.footer {
	background-color: rgb(79, 255, 103);
}
.title {
	font-size: 40px;
	text-align: center;
	font-weight: 900;
}

.list {
	font-size: 25px;
	display: block;
}

.one {
	background-color: #fff;
	font-size: 25px;
	display: inline-block;
	max-width: 200px;
	max-height: 200px;
	padding: 15px;
	margin: 0px 0px 25px 0px;
}

.box {
	color: rgb(255, 0, 0);
	font-size: 25px;
	background-color: #fff;
	display: inline-block;
	margin: 0px 0px 30px 0px;
}

.item {
	font-size: 25px;
	background-color: rgb(255, 255, 255);
	max-width: 100px;
	margin: 0px 30px 20px 0px;
	padding: 10px;
	display: inline-block;
}

.top {
	font-size: 25px;
	background-color: rgb(104, 87, 252);
	color: rgb(255, 0, 0);
	padding: 30px;
}
.top2 {
	font-size: 25px;
	background-color: rgb(255, 251, 0);
	color: rgb(14, 139, 3);
	margin: -50px 0px 20px 0px;
	padding: 30px;
}

.last {
	font-size: 25px;
	background-color: rgb(255, 83, 83);
	color: rgb(29, 0, 107);
	max-height: 200px;
	display: block;
	overflow: auto;
}
